<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="/index"><img src="/img/TUDESAN.png" class="foto"></a>
        </div>
        <div class="buscar">
            <form action="/usuarios/buscar" class="buscar2">
            <input type="text" placeholder="Buscar" required />
            <div class="btn">
              <i class="fas fa-search icon"></i>
            </form>
            </div>
          </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a class="txtH" href="/users/register">Registro</a></li>
                <li><a class="txtH" href="/users/login">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
