<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="/index"><img src="/img/TUDESAN.png" class="foto"></a>
        </div>
        <div class="buscar">
            <form action="" class="buscar">
            <input type="text" placeholder="Buscar" required />
            <div class="btn">
              <i class="fas fa-search icon"></i>
            </form>
            </div>
          </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a class="txtH" href="/index"><i class="fa-solid fa-house"></i></a></li>
                <li><a class="txtH" href="/agregar"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a class="txtH" href="/perfil"><i class="fa-regular fa-user"></i></a></li>
                <li class="txtH"><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>
    </nav>
</header>
