<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="/"><img src="/img/TUDESAN.png" class="foto"></a>
        </div>
        <div class="buscar">
<<<<<<< HEAD
            <form action="/users/buscar" class="buscar2">
            <input type="text" placeholder="Buscar" required />
=======
            <form action="/posts/buscar"  method="get" class="buscar2">
            <input type="text" placeholder="Buscar" name="searchResults" required />
>>>>>>> 8ace60b8be854af3fcf793df9217f7126928d7a9
            <div class="btn">
              <i class="fas fa-search icon"></i>
            </form>
            </div>
          </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a class="txtH" href="/users/register">Registro</a></li>
                <li><a class="txtH" href="/users/login">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
