<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="/"><img src="/img/TUDESAN.png" class="foto"></a>
        </div>
        <div class="buscar">
            <form action="/posts/buscar" class="buscar">
<<<<<<< HEAD
            <input id= "searchResults" name="searchResults" type="text" placeholder="Buscar" required />
=======
            <input type="text" placeholder="Buscar" name="searchResults" required />
>>>>>>> 8ace60b8be854af3fcf793df9217f7126928d7a9
            <div class="btn">
              <i class="fas fa-search icon"></i>
            </form>
            </div>
          </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a class="txtH" href="/agregar"> Bienvenido <%= locals.user.usuario %></a></li>
                <li><a class="txtH" href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a class="txtH" href="/posts/agregar"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a class="txtH" href="/users/perfil"><i class="fa-regular fa-user"></i></a></li>
                <li><a class="txtH" href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
