<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head') %>

    <body>
        <%- include('./partials/headerLogueado') %>


            <main>
                <section class="center main-content">
                    <h1>Nuevo Post</h1>

                    <p>
                    <form action="guardarPost" method="post">
                        <p>Nombre Imagen <input type="text" name="nombre"> </p>
                        <p>Descripcion <input type="text" name="descripcion"> </p>
                        <button type="submit"> Guardar </button>
                    </form>
                    </p>
                </section>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
                </ul>
            </footer>

    </body>

</html>