<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head') %>

    <body>
        <%- include('./partials/headerLogueado') %>


            <main>
                <section class="center main-content">
                    <h1>Nuevo Post</h1>

                    <p>
                    <form action="/posts/agregar" method="post">
                        <p><label for="URL">URL de la imagen</label></p>
                        <p><input type="text" name="nombreImagen" id="nombreImagen" value="" required></p>
                        <p><label for="textoDescriptivo">Descripcion</label></p>
                        <p><input type="text" name="textoDescriptivo" id="textoDescriptivo"></p>
                        <button class="botonR" type="submit">Enviar</button>
                    </form>
                    </p>
                </section>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
                    </ul>
            </footer>

    </body>

</html>