<!DOCTYPE html>
<html lang="en">



    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                
                <% posts.forEach ((post)=>{
                    %>
                <div class="info-usuario">
                    <img src="https://via.placeholder.com/40" alt="">
                    <p><a href="/detalleUsuario">
                        <%= usuario.email %>
                    </a></p>
                </div>
                <img class="photo" src="https://via.placeholder.com/500x600" alt="">
                <% }) %>
            </section>
        </div>
    </main>

    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>