<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>



            <main>
                <section class="center main-content">
                    <h1>Login</h1>
                    <form action="login" method="post">
                    <p>Email <input type="text" name="email"> </p>
                    <p>Password <input type="password" name="password"> </p>
                    <button type="submit"> Login </button>
                </form>

                </section>
            </main>

            <footer class="main-footer">
                <ul class="social">
                    <li><a href="" uk-icon="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="" uk-icon="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="" uk-icon="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
                <ul class="team">
                    <li>Lucio Archimede</li>
                    <li>Lautaro Cucco</li>
                    <li>Christian Heilmich</li>
                </ul>
            </footer>

    </body>

</html>