<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/header') %>
    
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                <div class="info-usuario">
                    <p><%= usuario.email %></p> 
                    <a class="follow" href="editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">

                <% posts.forEach ((post)=>{
                    %>
                <article class="post">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <% }) %>
             
            </section>
        </div>
    </main>

    <footer class="main-footer">
        <ul class="social">
            <li><a href="" uk-icon="instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" uk-icon="facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" uk-icon="twitter"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <ul class="team">
            <li>Lucio Archimede</li>
            <li>Lautaro Cucco</li>
            <li>Christian Heilmich</li>
        </ul>
    </footer>
</body>

</html>

