<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
   

    <main>
        <section class="center main-content">
        <h1>Regsitrate</h1>
        <p>Crear el formulario para registrar un nuevo usuario.</p>
        </section>
    </main>

    <footer class="main-footer">
        <ul class="social">
            <li><a href="" uk-icon="instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" uk-icon="facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" uk-icon="twitter"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <ul class="team">
            <li>Martin Hernandez</li>
            <li>Lucia Perez</li>
            <li>Gaston Sanchez</li>
        </ul>
    </footer>

</body>

</html>