<!DOCTYPE html>
<html lang="en">




    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    
   
    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda.</h1>
        <p>Construir la vista.</p>
        </section>
    </main>
    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>